.reviewsContainer{
  margin: auto;
  max-width: 100%;
  display: flex;
   justify-content: space-between;
  /* border: 1px solid red; */
}
.bookPage{
    border: 3px solid white;
    background-color: white;
    min-width: 45%;
   max-width: 45%;

}
.the-two-buttons{
  border: 3px solid white;
  background-color: white;
  min-width: 45%;
     max-width: 45%;
   }

/* .n {
  border: 3px solid white;
  background-color: white;

} */
